DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

PORT=3001
PUBLIC_KEY= # Fill only if necessary, we are protecting all routes, any route with the @Public() decorator will become public using this key as an authorization header
FRONTEND_URL=
#########################################
      # AUTHENTICATION VARIABLES #
#########################################

JWT_SECRET=secret
REFRESH_SECRET_KEY=secret2

#########################################
        # DATABASE VARIABLES #
#########################################

POSTGRES_USER=johndoe
POSTGRES_PASSWORD=12345
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=growfy

REDIS_HOST=localhost
REDIS_PORT=6379

#########################################
       # SOCIAL MEDIA VARIABLES #
#########################################

#TIKTOK
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=

TWITTER
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=

LINKEDIN
LINKEDIN_API_KEY=
LINKEDIN_SECRET_KEY=
LINKEDIN_CALLBACK_URI=
LINKEDIN_SCOPES=[]

#########################################
       # PAYMENTS VARIABLES #
#########################################

STRIPE_API_KEY=

#########################################
       # FRONTEND VARIABLES #
#########################################

CLIENT_URL=http://localhost:5173/

#########################################
       # SMS MODULE VARIABLES #
#########################################

SMS_ACCOUNTID=
SMS_AUTH_TOKEN=
SMS_FROM=

#########################################
       # AWS AUTH VARIABLES #
#########################################

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=

#########################################
       # EMAIL MODULE VARIABLES #
#########################################
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noahwalker2507@gmail.com
SMTP_PASS=

#DROPBOX
DROPBOX_REDIRECT='http://localhost:5000/api/v1/storage/oauth2callback'
DROPBOX_ID=
DROPBOX_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:5000/api/v1/storage/oauth2callback/

#########################################
       # SHOPIFY MODULE VARIABLES #
#########################################
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_REDIRECT_URI=http://localhost:5000/api/v1/shopify/oauth2callback
SHOPIFY_WEBHOOKS_URI=
SHOPIFY_SCOPES=