                                                                    #########################################
                                                                   # MOST THE DETAILS BELOW SHOULD BE FILLED #
                                                                    #########################################

PORT=
PUBLIC_KEY= # Fill only if necessary, we are protecting all routes, any route with the @Public() decorator will become public using this key as an authorization header

#########################################
      # AUTHENTICATION VARIABLES #
#########################################

JWT_SECRET=secret
REFRESH_SECRET_KEY=secret2

#########################################
        # DATABASE VARIABLES #
#########################################

DB_USER=johndoe
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb


REDIS_HOST=localhost
REDIS_PORT=6379

#########################################
       # SOCIAL MEDIA VARIABLES #
#########################################

#TIKTOK
TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=

# TWITTER
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=

# LINKEDIN
LINKEDIN_API_KEY=
LINKEDIN_SECRET_KEY=
LINKEDIN_CALLBACK_URI=
LINKEDIN_SCOPES=[]

#########################################
       # PAYMENTS VARIABLES #
#########################################

STRIPE_API_KEY=

#########################################
       # FRONTEND VARIABLES #
#########################################

CLIENT_URL=http://localhost:5173

#########################################
       # SMS MODULE VARIABLES #
#########################################

SMS_ACCOUNTID=
SMS_AUTH_TOKEN=
SMS_FROM=


#########################################
       # AWS AUTH VARIABLES #
#########################################

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=

#########################################
       # EMAIL MODULE VARIABLES #
#########################################

SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

#########################################
       # SHOPIFY MODULE VARIABLES #
#########################################
SHOPIFY_CLIENT_ID=your_shopify_api_key
SHOPIFY_CLIENT_SECRET=your_shopify_api_secret
SHOPIFY_REDIRECT_URI=http://localhost:5000/api/v1/shopify/oauth2callback
SHOPIFY_SCOPES=read_products,write_products,write_orders,read_customers,read_orders,write_customers
SHOPIFY_WEBHOOKS_URI=http://localhost:5000/api/v1/shopify/webhooks